:root {
    --blanco: #ffffff;
    --negro: #000000;
    --principal: #00b7ff;
    --secundario: #ff6000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: Whyte, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px; /* 1rem = 10px */
}
/*Globales*/
.oscurecer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite interactuar con la imagen detrás */
}
/*.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}*/
h1 {
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
span {
    font-size: 2.5rem;
}
img {
    max-width: 100%;
}
a{
    text-decoration: none;
}
hr{
    color: #eaeaea;
}:root {
    --blanco: #ffffff;
    --negro: #000000;
    --principal: #00b7ff;
    --secundario: #ff6000;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: Whyte, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
    font-size: 16px; /* 1rem = 10px */
}
/*Globales*/
.oscurecer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.0); /* Color negro con opacidad del 50% */
    pointer-events: none; /* Permite interactuar con la imagen detrás */
}
/*.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}*/
h1 {
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
h3{
    font-size: 2rem;
}
span {
    font-size: 2.5rem;
}
img {
    max-width: 100%;
}
a{
    text-decoration: none;
}
hr{
    color: #eaeaea;
}


/* index */
.cabeza{
    background-color: var(--negro);
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.cabeza img{
    width: 20rem;
}
section{
    width: 100%;
    height: 100rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cuerpo{
    text-align: center;
}
.cuerpo img{
    width: 30rem;
}
.cuerpo p{
    color: var(--negro);
    font-size: 3rem;
}
         /*Footer*/

         @media (min-width: 768px) { 
            .footer{
                display: flex;
                justify-content: space-around;
            }
        }
        .footer{
            color: var(--blanco);
            background-color: var(--negro);
            
        }
        .footer_derechos{
            text-align: center;
        }
        .footer_derechos img{
            width: 20rem;
            height: auto;
        }
        .footer_derechos p{
            font-size: 1.5rem;
        }
        .footer_redes img{
            margin-top: 2rem;
            width: 5rem;
            height: auto;
            border-radius: 0.5rem;
            transition: all 0.5s ease;
        
        }
        
        .footer_redes img:hover {
          filter: brightness(50%);
        }
        .footer_contacto{
            text-align: center;
        }
        .footer_contacto_ayuda{
            font-weight: 600;
            font-size: 2rem;
            margin-top: 2rem;
        }
        .footer_contacto a {
            display: block;
            text-align: center;
            font-size: 2.3rem;
            background-color: var(--blanco);
            color: var(--negro);
            text-decoration: none;
            padding: 1rem;
            margin-right: 0.5rem;
            font-weight: 600;
            border-radius: 0.5rem;
            transition: all 0.4s ease;
            margin-top: 2rem;
        
        }
        .footer_contacto a:hover {
            background-color: var(--blanco);
            color: var(--negro);
            filter: brightness(50%);
        
        }
        